<!doctype html>
<html ng-app="audio">
    
    <head>
        <meta charset="utf-8" name="viewport" content="width=device-width" />
        <title>
            只是用于测试
        </title>
        <link href="name/bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="name/Myf.css" rel="stylesheet" type="text/css">
        <link href="name/hg.css" rel="stylesheet" type="text/css">
        <script src="name/jquery-3.1.1.min.js"></script>
        <script src="name/bootstrap.min.js"></script>
        <script src="name/angular1.6.js"></script>
        <script src="https://cdn.bootcss.com/angular-ui-router/1.0.0-rc.1/angular-ui-router.min.js"></script>
	 <link rel="stylesheet" href="name/osSlider.css" />
        <script src="name/osSlider.js"></script>
    </head>
    <body ng-controller="audioPlay as vm">
        <header>
            <nav class="navbar navbar-default ">
                <div class="container">
                    <a class="navbar-brand" href="#">
                        网站首页
                    </a>
                    <ul class="nav nav-tabs navbar-nav  nav-ul top-nav">
                        <li class=" dropdown">
                            <a  ui-sref='home.dongman'>
                                动漫
                            </a>
                        </li>
                        <li>
                            <a  ui-sref='home.yinyue'>
                                音乐
                            </a>
                        </li>
                        <li>
                            <a ui-sref="home.manhua">
                                漫画
                            </a>
                        </li>
                        <li>
                            <a ui-sref="home.zatan">
                                杂谈
                            </a>
                        </li>
                    </ul>
                    <form class="navbar-form navbar-right">
                        <input type="text" class="form-control" />
                        <a data-toggle="modal" href="#modal-1" class="btn btn-default">
                            注册
                        </a>
                        <a data-toggle="modal" href="#modal-1" class=" btn btn-default">
                            登录
                        </a>
                    </form>
                </div>
                <div class="modal fade" id="modal-1">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">
                                    <span>
                                        ×
                                    </span>
                                </button>
                                <!--这里是关闭模态窗-->
                                <h4 class="modal-title">
                                    会员登录
                                </h4>
                            </div>
                            <div class="modal-body">
                                <div class="container-fluid">
                                    <div class="row col-md-8 col-md-offset-2">
                                        <form>
                                            <div class="form-group">
                                                <label>
                                                    账号
                                                </label>
                                                <input class="form-control" type="text">
                                            </div>
                                            <div class="form-group">
                                                <label>
                                                    密码
                                                </label>
                                                <input class="form-control" type="password">
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <!-- 注脚 -->
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary">
                                    登录
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>

	    <div class='col-md-8 col-md-offset-2'>
   		<ce-shi style="display:block;"></ce-shi>
	    </div>
        </header>
        <div class="container" id="page" >
            <div class="row main">
                <div class=" col-md-8  page-left">
                    <div ui-view>

                    </div>
                </div>
                <aside class="col-md-4 page-right">
                    <div class="page-right-title1">
                        <h5>
                            社区
                        </h5>
                        <span>
                            QQ群:123456789
                        </span>
                        <a href="#">
                            问答社区
                        </a>
                    </div>
                    <div class="page-right-title1">
                        <h5>
                            公告
                        </h5>
                        <p class="">
                          这里只是个人用于测试，不会有什么其他内容，不过内含私货也说不定。 
                        </p>
                    </div>
                    <div class="gedan" ng-model="Audio">
                        <table class="table table-hover">
                            <tr   ng-repeat='x in [1,2,3,4,5]'>
                                <td>
                                    <a>
                                        测试1
                                    </a>
                                </td>
                                <td>
                                    <a ng-click="play($index)" href="">
                                        {{Audio[$index].name}}
                                    </a>
                                </td>
                            </tr>  
						</table>
                        <audio ng-src="{{audioPlay.src}}" ng-model="play.src" autoplay>
                        </audio>
                    </div>
                </aside>
            </div>
        </div>
        <footer class="page-footer">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4" ng-repeat="x in [1,2,3]">
                        <div class="footer-mate">
                            <h4 class="footer-mate-title">
                                最新文章
                            </h4>
                            <div class="footer-mate-1">
                                <a href="#">
                                    测试用的文字
                                </a>
                                <time>
                                    2017年1月25日
                                </time>
                            </div>
                            <div class="footer-mate-1">
                                <a href="#">
                                    测试用的文字
                                </a>
                                <time>
                                    2017年1月25日
                                </time>
                            </div>
                            <div class="footer-mate-1">
                                <a href="#">
                                    测试用的文字
                                </a>
                                <time>
                                    2017年1月25日
                                </time>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <div class="footer-title">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <span>
                            测试用1
                        </span>
                        |
                        <span>
                            测试用2
                        </span>
                        |
                        <span>
                            测试用3
                        </span>
                    </div>
                </div>
            </div>
        </div>
       <!-- <ul class="right-nav nav  nav-pills nav-stacked">
            <li ng-repeat='x in  [1,2,3,4,5,6]'>
                <a href="#">
                    测试1
                </a>
            </li>
        </ul>
        <a href="#" class="btn btn-primary bottom-nav">
            回到顶部
        </a>-->
        <script>
     angular.module("audio",['ui.router'])
     .factory("name",
            function($http, $q) {
                return {
                    namef: function(param) {
                        param = param || {}
                        var _data = {
                            starTime: param.hasOwnProperty('startTime') ? param.startTime: ''
                        }
                        return $http.get('name/111.json');
                    }
                }
            })
  .config(["$stateProvider", "$urlRouterProvider", function ($stateProvider,$urlRouterProvider) {      
       $urlRouterProvider.otherwise('/home'); 
        $stateProvider     
        .state("home", {
            url: '/home',   
            template:'<div ui-view></div>',
            redirectTo:'home.dongman'
        })    
        .state("home.dongman", {//子路由
            url: '/dome1',    
            templateUrl:'name/dome1.html'
        })  
        .state("home.yinyue", {//子路由
            url: '/dome2',    
            templateUrl:'name/dome2.html'
        })
        .state("home.manhua", {//子路由
            url: '/dome3',    
            templateUrl:'name/dome3.html'
        })   
        .state("home.zatan", {//子路由
            url: '/dome4',    
            templateUrl:'name/dome4.html'
        })        
    }])
  .controller("audioPlay",
            function($scope,name) {
	     $scope.sss=false;
                $scope.Audio = [{
                    "name": "さくら ~あなたに出会えてよかった~.mp3",
                    "src": "name/RSP - さくら ~あなたに出会えてよかった~.mp3"
                },
                {
                    "name": "さくら ~あなたに出会えてよかった~.mp3",
                    "src": "name/RSP - さくら ~あなたに出会えてよかった~.mp3"
                },
                {
                    "name": "さくら ~あなたに出会えてよかった~.mp3",
                    "src": "name/RSP - さくら ~あなたに出会えてよかった~.mp3"
                },
                {
                    "name": "さくら ~あなたに出会えてよかった~.mp3",
                    "src": "name/RSP - さくら ~あなたに出会えてよかった~.mp3"
                },
                {
                    "name": "さくら ~あなたに出会えてよかった~.mp3",
                    "src": "name/RSP - さくら ~あなたに出会えてよかった~.mp3"
                }];
                name.namef().then(function(sss){
                    $scope.list=sss.data;
		    console.log('sssssssss',$scope.list);
                })
                $scope.play = function(x) {

                    $scope.audioPlay = {
                        "src": $scope.Audio[x].src
                    };
                }
            })
.component('ceShi',{
template: '\<div class="htmleaf-container"    style="width:100%;">\
	<div class="slider">\
		<ul class="slider-main">\
			<li>\
				<img class="s1" src="name/img_1.jpg" alt="">\
			</li>\
			<li>\
				<img class="s1"  src="name/img_1.jpg" alt="">\
			</li>\
			<li>\
				<img class="s1"  src="name/img_1.jpg" alt="">\
			</li>\
			<li>\
				<img  class="s1"  src="name/img_1.jpg" alt="">\
			</li>\
		</ul>\
	</div>\
</div>',
controllerAs:'vm',
controller:function($scope){
	        var vm=this;
	     vm.$postLink=function(){
	      console.log('22222222222222222',$('.s1').height())
		 var width=$('.htmleaf-container').width();
		var height=width/3;
              	       var  slider = new osSlider({ //开始创建效果
		pNode:'.slider', //容器的选择器 必填
		cNode:'.slider-main li', //轮播体的选择器 必填
		speed:3000, //速度 默认3000 可不填写
		autoPlay:true, //是否自动播放 默认true 可不填写
	        width:width,   //宽度
	        height:height
			       
	});  
  
		 console.log('3333333333333333',$('.s1').height())
     }
     var width=$('.htmleaf-container').width();
			$('.s1').width('100%')
			$('.s1').height('auto');
                     console.log('kuandu',$('.s1').width());
		console.log('高度',$('.s1').height());	
}
})
        </script>
    </body>

</html>
